:root {
    color-scheme: light dark;
}



fieldset {
    margin: 10px;

}

div,
input,
label {
    padding: 6px;
    margin: 6px;
}

* {
    padding: 0px;
    margin: 0px;
    overflow: auto;
    box-sizing: border-box;
    /* border: 1px solid red;*/
}



@font-feature-values --monofett {
    font-family: 'Monofett';

}


html {
    background-image: url('arabisque.jpg');
    font-family: 'Righteous', 'Courier New', monospace;


}


body {

    background-color: rgba(255, 228, 196, 0.295);
    width: 900px;
    margin: 26px auto;
    border-image: url('border.png');

}

body {

    background-color: rgba(255, 228, 196, 0.295);
    width: 1000px;
    margin: 40px auto;
    border-image-outset: 1 rem;
    border: 1.4rem solid;
    border-image: url('border.png') 200;
    border-image-outset: 0;



}

p,
input,
li {
    font-family: sans-serif, Tahoma, Geneva;
    color: #2a2a2a;
}

p,
li {
    font-size: 16px;
    ;

}

body header {
    background-image: url('logoamazigh.png');
}

header img {
    float: right;
    height: 150px;
    margin: auto;

}

nav {
    height: 50px;
    flex: 100%;
    display: flex;
}

nav ul {
    padding: 0;
    list-style-type: armenian;
    flex: 2;
    display: flex;
}

nav ul li {
    margin: 1px;
    border: 2px solid rgba(255, 153, 0, 0.466);
    background-color: rgb(255, 231, 196);
    border-radius: 200px;
}

nav ul li:hover {
    background-color: rgb(255, 218, 196);
    border: 2px dotted rgba(255, 153, 0, 0.466);
}

nav li {
    display: inline;
    text-align: center;
    flex: 2;



}

div.gallery {
    border: 1px dashed rgb(189, 146, 5);
}



div.gallery img {
    width: 100%;
    height: auto;
    margin: 0px;
    border: 2px solid rgb(170, 90, 24);
}

div.desc {
    padding: 15px;
    text-align: justify;
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

form {
    margin-top: 20px;
    padding: 10px 80px;

}

nav a,
nav span {
    font-family: 'Monofett', 'Franklin Gothic Medium', sans-serif;
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 4px;
}

h2,
h3 {
    font-family: 'Righteous', 'Noto sans', Helvetica;
    font-size: 100px;
}

p:first-of-type:first-letter {
    font-size: 2em
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

table {
    border-spacing: 6px 0px;
    padding: 0px;
    border: 1px solid rgb(70, 189, 90);
}


td {
    font-family: serif, 'Times New Roman', Times;
    width: 4px;
    height: 4px;
    text-align: center;
    vertical-align: ba middle;
    border: solid 1px;
}

th {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    background-color: aquamarine;
    border: solid 1px;
    padding-bottom: 1px;
    ;
}

h2 {
    background-color: rgba(42, 61, 37, 0.466);
    border-radius: 15px;
    margin: 4px;
    padding: 5px 11px;
    font-size: 18px;
}

h3 {
    background-color: rgba(224, 127, 37, 0.308);
    border-radius: 15px;
    padding: 5px 11px;
    font-size: 14px;
    margin: 4px;
}

h1 {
    font-family: 'Nabla';
    font-size: 100px;
    text-align: center;
    letter-spacing: 10px;
    margin: 4px;
}

img {
    float: left;
    margin: 40px 30px;

}

p {
    text-align: justify;
    padding: 6px 20px 6px 6px;
    margin: 10px 30px;
    font-family: 'Righteous', 'Courier New', monospace;
}

abbr {
    color: chocolate;
}

@media (hover: hover) {
    abbr:hover {
        color: rgb(10, 94, 10);
        transition-duration: 1s;
    }
}

@media not abackground-image: url('a.jpg');

ll and (hover: hover) {
    abbr::after {
        content: ' (' attr(title) ')';
    }
}

footer {
    background-color: rgba(255, 248, 220, 0.212);
    margin-top: 16px;
    padding: 17px 16px 5px 16px;
    font-family: sans-serif, 'Times New Roman', Times;
}

a:visited {
    color: rgb(2, 158, 93);


}

a:active {
    color: coral;
    background-color: chocolate;
}

a:hover {
    color: darkcyan;
}