fieldset {
    margin: 10px;

}

div,
input,
label {
    padding: 6px;
    margin: 6px;
}

* {
    padding: 0px auto;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid red;
}

@font-feature-values --monofett {
    font-family: 'Monofett';

}

html {
    background-image: url('arabisque.jpg');
    font-family: 'Righteous', 'Courier New', monospace;
}

body {

    background-color: rgba(255, 228, 196, 0.295);
    width: 1000px;
    margin: auto;
    border-image-outset: 1 rem;
    border: 1.4rem solid;
    border-image: url('border.png') 200;
    border-image-outset: 0;
}

p,
input,
li {
    font-family: sans-serif, Tahoma, Geneva;
    color: #2a2a2a;
}

p,
li {
    font-size: 16px;
    ;

}

body header {
    background-image: url('logoamazigh.png');
}

header img {
    float: right;
    height: 150px;
    margin: auto;

}

nav ul {

    display: flex;
    align-content:space-around;
    gap: 10px 20px; 
    align-items:stretch;
    

}

nav ul li {
    display: flex;
    border: 2px solid rgba(255, 153, 0, 0.466);
    background-color: rgb(255, 231, 196);
    border-radius: 15px;
    padding-left: 10px;
    font-family: "Monofett", 'Franklin Gothic Medium', sans-serif;
    text-align: center;
    flex:auto;
   


}

nav ul li:hover {
    background-color: rgb(255, 218, 196);
    border: 2px dotted rgba(255, 153, 0, 0.466);
}

button {
    background-color: rgba(255, 94, 0, 0.596);
    border-radius: 15px;
    padding: 10px 50px;
    margin: 0px 50px;
    align-items: center;
}

button:hover {
    background-color: #2a2a2a;
}


form {
    margin-top: 20px;
    padding: 10px 80px;

}

nav a,
nav span {
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
}

h2,
h3 {
    font-family: 'Righteous', 'Noto sans', Helvetica;
    font-size: 100px;
}

p:first-of-type:first-letter {
    font-size: 2em
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

#image {

    border-spacing: 6px 0px;
    margin: 10px auto;
    padding: 0px;
    border: 1px solid rgba(0, 255, 149, 0.342);
}

table {
    border-spacing: 6px 0px;
    margin: 10px auto;
    padding: 0px;
    border: 1px solid rgba(0, 255, 149, 0.342);
    border-radius: 15px;
}

th>p {
    font-size: 12px;
    text-align: center;
    margin: auto;
}

td {
    font-family: serif, 'Times New Roman', Times;
    text-align: center;
    vertical-align: ba middle;
    margin: auto;
}

th {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    background-color: rgba(127, 255, 159, 0.637);
    border-radius: 15px;
    padding-bottom: 1px;
    margin: auto;

}

h2 {
    background-color: rgba(42, 61, 37, 0.466);
    border-radius: 15px;
    margin: 4px;
    padding: 5px 11px;
    font-size: 18px;
}

h3 {
    background-color: rgba(224, 127, 37, 0.308);
    border-radius: 15px;
    padding: 5px 11px;
    font-size: 14px;
    margin: 4px;
}

h1 {
    font-family: 'Nabla';
    font-size: 100px;
    text-align: center;
    letter-spacing: 10px;
    margin: 4px;
}

.header {
    display: flex;
    flex-direction: ;
    margin: 10px auto;

    width: 25%;
}

img {
    float: left;
    margin: auto;

}

p {
    text-align: justify;
    padding: 6px 20px 6px 6px;
    margin: 20px 30px auto;
    font-family: 'Righteous', 'Courier New', monospace;
}

abbr {
    color: chocolate;
}

footer address {
    background-color: rgba(255, 248, 220, 0.212);
    margin: 16px 30px auto;
    padding: 17px 16px 5px 16px;
    font-family: 'Times New Roman', sans-serif, Times;
    text-align: center;
}

a:visited {
    color: rgb(2, 158, 93);


}

a:active {
    color: coral;
    background-color: chocolate;
}

a:hover {
    color: darkcyan;
}